/* 
	#140004 - licorice
	#0047CC - violet blue
	#F5F5F5 - white smoke
*/

/* General styling */
* {
	margin: 0;
	padding: 0;
	font-family: Poppins;
	scrollbar-color: unset;
	scrollbar-width: none;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}

nav {
	position: sticky;
	top: 0px;
	z-index: 10;
	background-color: #ffffff;
	width: 100vw;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
nav > #text-logo {
	margin-left: 2.5rem;
	color: #0047cc;
}
nav > .profile {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-right: 2vw;
	font-weight: bold;
}
nav .profile-image {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border: 0.5px solid black;
	background-image: url("../images/pxcowboy-samurai.jpg");
	background-position: center;
	background-size: cover;
}

/*  */
.leaderboard-section {
	padding-top: 4vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
	padding-left: 0.4rem;
	padding-right: 0.2rem;
}
.leaderboard-section .profile-data {
	width: 200px;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}
.leaderboard-section .profile-data h1 {
	text-align: center;
}
.leaderboard-section .profile-data .stat {
	padding: 15px 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
}
.leaderboard-section .profile-data .stat span {
	font-weight: 550;
	font-size: 1.75rem;
}
.leaderboard {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}
.leaderboard > table {
	width: 450px;
	border-collapse: collapse;
	box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}
.leaderboard > table thead tr {
	background-color: #0047cc;
	color: #f5f5f5;
}
.leaderboard > table tbody tr {
	border-bottom: 1px solid #ddd;
}
.leaderboard > table tbody tr:hover {
	cursor: pointer;
}
.leaderboard > table tbody tr:nth-child(even) {
	background-color: #f5f5f5;
}
.leaderboard > table tbody tr:last-child {
	border-bottom: 2px solid #0047cc;
}
.leaderboard > table th,
.leaderboard > table td {
	padding: 0.9rem 0.625rem;
}
.leaderboard > table .points {
	text-align: center;
}
.leaderboard > table .username {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.leaderboard .profile-image {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border: 0.5px solid black;
}
.leaderboard .profile-image img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
/*  */
.news-section {
	width: 100vw;
	padding-top: 4rem;
	padding-bottom: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
}
.news-section > .container {
	width: 80%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: auto; /* Allows rows to adjust to content */
	gap: 1.5rem;
}

.news-post {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	font-family: Poppins;
	background-color: #f5f5f5;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
}

.news-post > .post-img {
	width: 100%;
	height: 200px;
}

.news-post > .post-img > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.news-post > .news-text {
	padding: 1rem 1rem 0.5rem 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.news-section > h3 {
	font-size: 2rem;
}
.news-text > .date {
	font-weight: bold;
	font-size: 0.9rems;
}
.news-text > .news-title {
	color: #140004;
	font-size: 1.3rem;
	font-weight: 700;
}
.news-text > .news-title:hover {
	color: #0047ccc2;
	transition: all ease 0.3s;
}
.news-text > p {
	font-size: 0.9rem;
}
.news-text .more {
	color: #0f0f0f;
}
.news-text .more:hover {
	color: #0047ccc2;
	text-decoration: underline;
	transition: all ease 0.3s;
}
.news-post .interaction-btns {
	display: flex;
	gap: 8px;
	padding-left: 1rem;
	padding-bottom: 0.8rem;
}
.interaction-btns .interaction {
	display: flex;
	align-items: center;
	gap: 4px;
}
.interaction-btns .interaction:hover {
	cursor: pointer;
}
.interaction > svg {
	height: 1.4rem;
}
.interaction > img {
	height: 1rem;
}
.interaction > span {
	font-weight: 520;
}
.interaction:hover > #like {
	color: red;
}
.interaction:hover > #save {
	color: #0047cc;
}
/*  */

.footer {
	background-color: #f5f5f5;
	padding: 70px 0;
	font-family: Poppins;
	line-height: 1.5;
}
.footer > .container {
	max-width: 1170px;
	margin: auto;
}
.container > .row {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: center;
}
.footer-col {
	width: 25%;
}
.footer-col h4 {
	font-size: 18px;
	color: #140004;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
/* This is to create that underline effect */
.footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #0047cc;
	height: 2px;
	width: 50px;
}
.footer-col ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	color: #140004;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: 0.3s ease;
}
.footer-col ul li a:hover {
	color: #0047cc;
	padding-left: 8px;
}
.footer-col .social-links {
	display: flex;
	gap: 10px;
	height: 50px;
}
.footer-col .social-links a > img {
	height: 40px;
	width: 40px;
	transition: 0.2s ease-out;
}
.footer-col .social-links a > img:hover {
	height: 45px;
	width: 45px;
}
.footer-col:last-child li a {
	font-size: 1rem;
	text-transform: capitalize;
	color: #140004;
	text-decoration: none;
	font-weight: 300;
	transition: 0.3s ease;
}
.footer-col:last-child li a:hover {
	color: #0047cc;
	padding-left: 8px;
}

/* Responsiveness */
@media screen and (max-width: 425px) {
	/* For a visually appealing UI on mobile */
	nav {
		justify-content: center;
	}
	nav > #text-logo {
		display: none;
	}
	nav > .profile {
		margin-right: 0;
	}
}
/* Footer section */
@media (max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}
@media (max-width: 574px) {
	.row {
		margin-left: 5vw;
	}
	.footer-col {
		width: 100%;
	}
}
/* news-section container */

@media screen and (min-width: 1900px) {
	.news-section > .container {
		grid-template-columns: repeat(4, 1fr);
	}
}
@media screen and (min-width: 1500px) {
	nav {
		justify-content: center;
		gap: 25vw;
	}
}
@media screen and (max-width: 1200px) {
	.news-section > .container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 800px) {
	.news-section > .container {
		grid-template-columns: 1fr;
	}
}
@media screen and (max-width: 450px) {
	.leaderboard > table {
		width: 80vw;
	}
}
